.input-container {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  column-gap: 100px;
}

.radio {
  margin-top: 20px;
}

form {
  margin-bottom: 70px;
  width: 45%;
}

input {
  padding: 10px;
  border-radius: 5px;
}

.radio-input {
  display: flex;
}
